*{
    box-sizing: border-box;
  }
  html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  
  }
  a{
    text-decoration: none;
  }
  .navbar-container{
    background-color:black;
    height: 100px;
    padding: 10px;
    width: 100%;
  }
  .navbar-container img{
    /*max-width: 100%;*/
    height: 50px;
  }
  .navbar-container #nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .navbar-container a{
    color: whitesmoke;
  }
  .navbar-container li{
    padding: 20px;
  }
  /*  Background Opacity
  .hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {    
      content: "";
      background-image: url('images/la-coverphoto.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

h1 {
  position: relative;
  color: #ffffff;  
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}
*/

  .top-section{
    background-image: url("images/la-coverphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:lightgoldenrodyellow;
    height: 50em;
  }
  .top-section-nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
   /* border: 1px solid red;*/
    width: 100%;
  }
  .top-section .top-section-nav .contact-links{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 50%;
  }
  .top-section-nav{
    font-weight: 600;
  }
  .top-section-nav a:link{
    color: darkslategray;
  }
  .top-section-nav h1{
    font-size: 30px;
    font-weight: 400;
    
  }
  .greeting{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    text-align: center;
    
  }
  .greeting h2{
    font-size: 50px;
    font-weight: 400;
    padding: 10px;
  }
  .greeting p{
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
  }
  .greeting a{
    font-weight: 400;
    color: gray;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    margin-top: 20px;
  }
  .Home-Services-Section{
    display: flex;
    justify-content: center;
    padding: 10px;
    /*border: 1px solid red;*/
    height: 33vh;
    width: 100%;
    /*background-color: lightgoldenrodyellow;*/
    background-color: #f5f5f5;


  }
  .Home-Services-Container{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
   /* border: 1px solid black;*/
    width: 75%;
    height: 30vh;
    margin-top: -7vh;
    background-color: white;
   
  }
  #Financial-Planning-Container{
    text-align: center;
   /* border: 1px solid blue;*/
    width: 25%;
    padding: 10px;
  }
  #Financial-Planning-Container img{
    padding: 13px;
    border-radius: 1px;
    border: 1px solid darkgoldenrod;
  }
  #Financial-Planning-Container h2{
    font-size: 26px;
    font-weight: 300;
    color: #373c5f;
    padding: 13px;
  }
  #Financial-Planning-Container p{
   color: #999999;
   line-height: 1.2;
   padding-bottom: 6px;
  }
  #Investments-Management-Container{
    text-align: center;
    /*border: 1px solid orange;*/
    width: 25%;
    padding: 10px;
  }
  #Investments-Management-Container img{
    padding: 13px;
    border-radius: 1px;
    border: 1px solid darkgoldenrod;
  }

  #Investments-Management-Container h2{
    font-size: 26px;
    font-weight: 300;
    color: #373c5f;
    padding: 8px;
  }
  #Investments-Management-Container p{
    color: #999999;
    line-height: 1.2;
    padding-bottom: 6px;
    
  }
  #Retirement-Plan-Container{
    text-align: center;
    /*border: 1px solid purple;*/
    width: 25%;
    padding: 10px;

  }
  #Retirement-Plan-Container img{
    padding: 13px;
    border-radius: 1px;
    border: 1px solid darkgoldenrod;
   
  }

  #Retirement-Plan-Container h2{
    font-size: 26px;
    font-weight: 300;
    color: #373c5f;
    padding: 13px;

  }
  #Retirement-Plan-Container p{
    color: #999999;
    line-height: 1.2;
    padding-bottom: 6px;
  }
  .grow-business-section{
    height: 46vh;
    /*border: 1px solid blue;*/
    background-color: #f5f5f5;
  }
  .grow-business-container{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 19vh;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .grow-business-container h1{
    font-size: 41px;
      font-weight: 400;
      letter-spacing: 0.50px;
      color: #373c5f;
      text-transform: uppercase;
  }
  .grow-business-container h1::after{
    content: '';
    width: 40px;
    height: 2px;
    background: #b49132;
    display: block;
    left: 50%;
    position: relative;
    margin-top: 8px;
  
  }
  .grow-business-container p{
    color: #9d9d9d;
    max-width: 595px;
    margin: 0 auto;
    padding-top: 3px;
  }
  .achievements-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid red;*/
    height: 23vh;
    width: 75%;
    margin: auto;

  }
  .experience{
    display: flex;
    align-items: center;
  }
  .experience span{
    color: #7d7d7d;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
  }
  #experience-number{
    font-size: 52px;
    font-weight: 700;
    color:#b49132;
    padding: 20px;
    border: 1px solid #b49132;

  }
  .award-winning{
    display: flex;
    align-items: center;

  }
  .award-winning span{
    color: #7d7d7d;
    font-weight: 700;
    padding: 10px;
    font-size: 15px;
  }
  .happy-customers{
    display: flex;
    align-items: center;
  }
  .happy-customers span{
    color: #7d7d7d;
    font-weight: 700;
    padding: 10px;
    font-size: 15px;
  }
  .satisfied-customers{
    display: flex;
    align-items: center;
  }
  .satisfied-customers span{
    color: #7d7d7d;
    font-weight: 700;
    padding: 10px;
    font-size: 15px;
  }
  .company-header-section{
    width: 100%;
    height: 23vh;
    border: 1px solid red;

  }
  .company-header-container{
    width: 100%;
    height: 13vh;
    border: 1px solid blue;
  }
  #company-message{
    width: 50%;
    border: 1px solid orange;
  }

  .about-section{
    display: flex;
    justify-content: space-evenly;
    height: 33em;
    width: 100%;
    background-color: seashell;
    /*background-color: lightgoldenrodyellow;*/
    padding: 10px;
  }
  .about-section img{
    height: 29em;
    padding: 10px;
    border-radius: 20px;

}

  .about-me{
    width: 50%;
  }
  .about-me h2{
   text-align: center;
   font-size: 36px;
   font-weight: 400;
   letter-spacing: 0.50px;
   color: #373c5f;
   padding: 10px;
   margin: 20px;
  }
  .about-me p{
    line-height: 1.6;
    font-size: 18px;
    padding: 10px;
  }
.money-management-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47vh;
  width: 100%;
  /*border: 1px solid red;*/
  background: url('images/coverphoto.jpg') no-repeat scroll center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    
  
}
.money-management-section::after{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.75;
  z-index: -1;
}


.money-management-container{
 text-align: center;
 height: 31vh;
 width: 50%;
 /*border: 1px solid blue;*/
}
.money-management-container h1{
  font-size: 43px;
  width: 51%;
  margin: auto;
  padding-bottom: 32px;
  color: #fff;
}
.money-management-container h3{
  color: #fff;
  padding-bottom: 36px;
}
.money-management-container a{
  color: #fff;
  padding: 10px;
  border: 2px solid #b49132;
  background-color: #b49132;

}
.footer-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 47vh;
  color: whitesmoke;
  background-color: #7f7f7f;
}
.company-contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 31vh;
  border-right: 1px solid darkgrey;
  width: 50%;
}
.company-contact-info img{
  height: 10vh;
  margin-bottom: 2em;
}
.company-contact-info ul li{
  padding: 2px;
}
.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
   align-items: center;
  width: 50%;
  padding: 20px;
}
.contact-info ul{
  padding: 10px;
}
.contact-info #name{
  font-size: 20px;
  font-weight: 600;
}
.contact-info #license{
  padding-bottom: 10px;
}
.contact-info ul li{
  padding: 2px;
}


/* ///////////////////////Media Query//////////////////////////////////////////////////////////////*/
  @media screen and (max-width: 480px){
    .top-section-nav{
      flex-direction: column;
    }
    #phone{
      padding: 5px;
    }
    #email{
      padding: 5px;
    }
    .top-section .top-section-nav .contact-links{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .top-section .top-section-nav .contact-links a{
      padding: 3px;
    font-size: 20px;
    }
  .greeting{
  width: 100%;
  height: 56vh;
  text-align: start;
  flex-wrap: nowrap;
    /* width: 50%; */
    /* margin: auto; */
    /* text-align: center; */
}
.greeting h2{
  text-align: start;
  font-size: 42px;
}
.Home-Services-Section{
  height: 128vh;
}
.Home-Services-Container{
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  height: 116vh;

}
#Financial-Planning-Container{
  width: 100%;
  padding-bottom: 20px;
}
#Investments-Management-Container{
  width: 100%;
  padding-bottom: 20px;
}
#Retirement-Plan-Container {
  width: 100%;
  padding-bottom: 20px;
}
.grow-business-section{
  height: 110vh;

}
.grow-business-container{
  height: 41vh;
 /* border: 1px solid red;*/
  width: 75%;
}
.grow-business-container h1::after{
  left: 43%;

}
.achievements-section{
  flex-direction: column;
  align-items: flex-start;
  height: 56vh;
  /*border: 1px solid blue;*/
    
  
}
.about-section {
 flex-direction: column;
 height: auto;
}
.about-section img{
  width: 75%;
  margin: auto;
}
.about-me{
  width: 100%;
}
.money-management-section{
  height: 70vh;
}
.money-management-container{
  width: 100%;

}
.money-management-container h1{
  padding-bottom: 32px;
  width: 100%;
}
.money-management-container h3{
  padding-bottom: 36px;
}
.footer-container{
  flex-wrap: wrap;
  height: 82vh;
  justify-content: flex-start;
}
.company-contact-info{
  width: 100%;
  height: 39vh;
  flex-direction: column;
  align-items: flex-start;
  color: whitesmoke;
  padding: 10px;
  border-right: none;
  border-bottom: 1px solid darkgray;
}
.contact-info{
  width: 100%;
  color:  whitesmoke;
  align-items: flex-start;
  padding: 10px;
}
.contact-info h4{
  font-size: 17px;
  padding-bottom: 3px;
}
.contact-info ul{
  padding: 0;
}
.contact-info ul li{
  padding: 3px;
}
  }