*{
    box-sizing: border-box;
  }
  html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  
  }
  a{
    text-decoration: none;
  }
  .navbar-container{
    display: flex;
    justify-content: space-between;
    background-color:black;
    height: 100px;
    padding: 24px;
    padding-left: 70px;
    width: 100%;
    height: 12vh;
  }
  
  
  .navbar-container a{
    color: whitesmoke;
  }
  .wfg-logo{
    display: flex;
    align-items: center;
    width: 25%;
    /*border: 1px solid red;*/
  }
  .wfg-logo img{
    width: 55px;
    height: auto;
  }
  .navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    /*border: 1px solid blue;*/
  }
  
  /*  Background Opacity
  .hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {    
      content: "";
      background-image: url('images/la-coverphoto.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

h1 {
  position: relative;
  color: #ffffff;  
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}
*/
.contact-links-section{
  /*background-color: #b49132;*/
  background-color: darkred;
}
.contact-links{
  display: flex;
  justify-content: space-evenly;
  
  width: 70%;
}
.contact-links a{
  color: white;
  font-size: 14px;
  padding: 17px;
}
.contact-links a i{
  padding-right: 5px;
}
/*
.top-section{
  position: relative; 
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-section::before {    
    content: "";
    background-image: url("images/la-coverphoto.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
.top-section h2 {
  position: relative;
  color: black;  
  font-size: 2rem;
  line-height: 0.9;
  text-align: center;
  font-weight: 550;
    width: 80%;
  }
.top-section h1 {
position: relative;
color: black;  
font-size: 5rem;
line-height: 0.9;
text-align: center;
font-weight: 550;
  width: 80%;
  padding-top: 10px;
}
.top-section p{ 
position: relative;
color: black;  
font-size: 1.5rem;
line-height: 0.9;
text-align: center;
padding-top: 34px;
  max-width: 60%;


}
.top-section a{ 
  position: relative;
  color: black;  
  font-size: 22px;
  line-height: 0.9;
  text-align: center;
  padding-top: 34px;
    max-width: 800px;
  
  
  }
  */

  .top-section{
    background-image: url("images/la-coverphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:lightgoldenrodyellow;
    height: 37em;
  }
  .top-section-nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
   
    width: 100%;
  }
   
  .top-section-nav{
    font-weight: 600;
  }
  .top-section-nav a:link{
    color: darkslategray;
  }
  .top-section-nav h1{
    font-size: 30px;
    font-weight: 400;
    
  }
  .greeting{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    text-align: center;
    
  }
  .greeting h2{
    font-size: 47px;
    font-weight: 400;
    letter-spacing: 0.50px;
    padding: 10px;
    
  }
  .greeting h1{
    font-size: 84px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 70px;
    
  }
  .greeting p{
    font-size: 20px;
    font-weight: 500;
    padding: 16px;
    width: 50%;
  }
  .greeting a{
    font-size: 16px;
    font-weight: 800;
    color: white;
    margin-top: 20px;
    width: 188px;
    padding: 17px;
    border: 3px solid white;
  }
  
  
  .Home-Services-Section{
    display: flex;
    justify-content: center;
    padding: 10px;
    /*border: 1px solid red;*/
    height: 33vh;
    width: 100%;
    /*background-color: lightgoldenrodyellow;*/
    background-color: #f5f5f5;


  }
  .Home-Services-Container{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
   /* border: 1px solid black;*/
    /*width: 90%;*/
    width: 100%;
    height: 30vh;
   /* margin-top: -7vh;*/
    background-color: white;
   
  }
  #Financial-Planning-Container{
    text-align: center;
   /* border: 1px solid blue;*/
    width: 25%;
    /*padding: 10px;*/
  }
  #Financial-Planning-Container img{
    padding: 13px;
    border-radius: 1px;
    border: 1px solid  darkred;
  }
  #Financial-Planning-Container h2{
    font-size: 26px;
    font-weight: 300;
    /*color: #373c5f;*/
    color: black;
    padding: 13px;
  }
  #Financial-Planning-Container p{
   color: #999999;
   line-height: 1.2;
   font-size: 15px;
   font-weight: 200;
   padding-bottom: 6px;
  }
  #Financial-Planning-Container a:link{
    color:  darkred;
  }
  #Financial-Planning-Container a:visited{
    color:  darkred;
  }
  #Financial-Planning-Container a:hover{
    color: lightslategray;
  }
  #Investments-Management-Container{
    text-align: center;
    /*border: 1px solid orange;*/
    width: 25%;
    /*padding: 10px;*/
  }
  #Investments-Management-Container img{
    padding: 13px;
    border-radius: 1px;
    border: 1px solid darkred;
  }

  #Investments-Management-Container h2{
    font-size: 26px;
    font-weight: 300;
    color: black;
    padding: 8px;
  }
  #Investments-Management-Container p{
    color: #999999;
    line-height: 1.2;
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 6px;
    
  }
  #Investments-Management-Container a:link{
    color: darkred;
  }
  #Investments-Management-Container a:visited{
    color:  darkred;
  }
  #Investments-Management-Container a:hover{
    color: lightslategray;
  }

  #Retirement-Plan-Container{
    text-align: center;
    /*border: 1px solid purple;*/
    width: 25%;
   /* padding: 10px;*/

  }
  #Retirement-Plan-Container img{
    padding: 13px;
    border-radius: 1px;
    border: 1px solid darkred;
   
  }

  #Retirement-Plan-Container h2{
    font-size: 26px;
    font-weight: 300;
    color: black;
    padding: 13px;

  }
  #Retirement-Plan-Container p{
    color: #999999;
    line-height: 1.2;
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 6px;
  }
  #Retirement-Plan-Container a:link{
    color: darkred;
  }
  #Retirement-Plan-Container a:visited{
    color:  darkred;
  }
  #Retirement-Plan-Container a:hover{
    color: lightslategray;
  }


  .grow-business-section{
   /* height: 46vh;*/
     height: 63vh;
    /*border: 1px solid blue;*/
    background-color: #f5f5f5;
  }
  .grow-business-container{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 19vh;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .grow-business-container h1{
      font-size: 41px;
      font-weight: 300;
      letter-spacing: 0.50px;
      color: black;
      text-transform: uppercase;
  }
  .grow-business-container h1::after{
    content: '';
    width: 40px;
    height: 2px;
    background:  darkred;
    display: block;
    left: 50%;
    position: relative;
    margin-top: 8px;
  
  }
  .grow-business-container p{
    color: #9d9d9d;
    font-weight: 200;
    max-width: 595px;
    margin: 0 auto;
    padding-top: 3px;
  }
  .achievements-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid red;*/
    height: 23vh;
    width: 100%;
    padding-top: 50px;
    margin: auto;

  }
  .experience{
    display: flex;
    align-items: center;
    max-width: 180px;
    height: 180px;
    border: 1px solid  darkred;
  }
  .experience span{
    color: #7d7d7d;
    font-weight: 700;
    font-size: 15px;
    padding-left: 10px;
    background-color: #f5f5f5;
  }
  .experience span h4{
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #experience-number{
    font-size: 52px;
    font-weight: 700;
    color: darkred;
    padding: 8px;
    padding-left: 59px;
    /*border: 1px solid #b49132;*/

  }
  .award-winning{
    display: flex;
    align-items: center;
    max-width: 180px;
    height: 180px;
    border: 1px solid  darkred;

  }
  .award-winning #experience-number{
    padding-left: 60px;
  }
  .award-winning span{
    color: #7d7d7d;
    font-weight: 700;
    /*padding-left: 25px;*/
    /*padding-top: 17px;*/
    font-size: 15px;
    background-color:#f5f5f5;
  }
  .award-winning span h4{
    font-weight: 200;
    padding-left: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .happy-customers{
    display: flex;
    align-items: center;
    max-width: 180px;
    height: 180px;
    border: 1px solid  darkred;
  }
  
  .happy-customers span{
    color: #7d7d7d;
    font-weight: 700;
   /* padding: 10px;*/
    font-size: 15px;
  }
  .happy-customers span h4{
    font-weight: 200;
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .happy-customers #experience-number{
    padding-left: 40px;
  }
  
  .satisfied-customers{
    display: flex;
    align-items: center;
    max-width: 180px;
    height: 180px;
    border: 1px solid  darkred;
  }
  .satisfied-customers span{
    color: #7d7d7d;
    font-weight: 700;
    /*padding: 10px;*/
    font-size: 15px;
  }
  .satisfied-customers span h4{
    font-weight: 200;
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .satisfied-customers #experience-number{
    padding-left: 21px;
  }
  .about-us-main-container{
    height: 82vh;
    background-color: #f5f5f5;
    width: 100%;
  }
  .about-us-section{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 61vh;
   /* background-color: white;*/
    margin: auto;
    /*border: 1px solid red;*/
  }
  .about-us-section-container{
    align-self: center;
    text-align: center;
    height: 50vh;
    width: 50%;
   /* border: 1px solid red;*/
  }
  .about-us-section-container h3:after{
    content: '';
    width: 40px;
    height: 2px;
    background:  darkred;
    display: block;
    left: 47%;
    position: relative;
    margin-top: 8px;

  }

  .about-us-section-container h3{
    font-size: 40px;
    font-weight: 300;
    color: black;
    padding: 20px;
    padding-bottom: 47px;
  }
  .about-us-section-container p{
    font-weight: 200;
    /*color: #7d7d7d;*/
    color: black;
    padding: 20px;
    padding-bottom: 45px;
    line-height: 1.5;
    text-align: start;
  }
  .about-us-section-container a{
    font-size: 15px;
    font-weight: 200;
    color: white;
    background-color:  darkred;
    padding: 10px;
    margin-top: 20px;
    width: 188px;

  }
  .about-us-section .about-us-section-image-container{
    align-self: center;
    width: 50%;
    height: 35vh;
   /* border: 1px solid blue;*/
  }
  .about-us-picture-container{
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .about-us-picture-container img{
    width: 463px;
    height: auto;
  }
  .about-section-header{
    text-align: center;
    background-color: #f5f5f5;
    height: 20vh;
  }
  .about-section-header h2{
    font-size: 40px;
    font-weight: 300;
    padding: 10px;
    color: black;
  }
  .about-section-header h2:after{
    content: '';
    width: 40px;
    height: 2px;
    background:  darkred;
    display: block;
    left: 47%;
    position: relative;
    margin-top: 8px;
}
  

  .about-section-header p{
    font-size: 18px;
    font-weight: 300;
    color: #7d7d7d;
    padding: 20px;
    
  }


  .about-section{
    display: flex;
    justify-content: space-evenly;
    height: 33em;
    width: 100%;
    background-color: #f5f5f5;
    /*background-color: lightgoldenrodyellow;*/
    padding: 10px;
  }
  .about-section .profile-picture{
   /* background-color: white;*/
    height: 77vh;
    padding: 10px;
    border-radius: 12px;
  }
  .about-section .profile-picture img{
    height: 29em;
    padding: 10px;
    border-radius: 20px;
}
.about-section .profile-picture h4{
  text-align: center;
  font-weight: 300;
  padding: 2px;
}
.about-section .profile-picture h5{
  font-weight: 200;
  text-align: center;
  color: #7d7d7d;

}


  .about-me{
    width: 50%;
    height: 16px;
  }
  .about-me h2{
   text-align: center;
   font-size: 36px;
   font-weight: 400;
   letter-spacing: 0.50px;
   color: #373c5f;
   padding: 10px;
   margin: 20px;
  }
  .about-me p{
    font-weight: 200;
    line-height: 1.6;
    font-size: 18px;
    padding: 10px;
  }
.money-management-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47vh;
  width: 100%;
  /*border: 1px solid red;*/
  background: url('images/coverphoto.jpg') no-repeat scroll center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    
  
}
.money-management-section::after{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.75;
  z-index: -1;
}


.money-management-container{
 text-align: center;
 height: 31vh;
 width: 50%;
 /*border: 1px solid blue;*/
}
.money-management-container h1{
  font-size: 50px;
  font-weight: 300;
  width: 51%;
  margin: auto;
  padding-bottom: 32px;
  color: #fff;
}
.money-management-container h3{
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 36px;
}
.money-management-container a{
  color: #fff;
  font-weight: 200;
  padding: 10px;
  border: 2px solid  darkred;
  background-color:  darkred;

}
.companies-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 71vh;
  /*border: 1px solid red;*/
  background-color: #f5f5f5
}
.companies-container{
  text-align: center;
  /*border: 1px solid blue;*/
  width: 50%;

}
.companies-container h1{
  font-size: 2.5em;
  font-weight: 300;
  padding-top: 5vh;
  padding-bottom: 2vh;
  color:  black;
}
.companies-container h1 span{
  color: darkred;
}
.companies-container p{
  font-weight: 200;
  line-height: 1.6;
  color: black;
  padding: 10px;
}
.companies-container h3{
  color: #373c5f;
  font-weight: 500;
  padding: 5px;
}
.companies-us-section{
  display: flex;
  justify-content: center;
  width: 100%;
 /* border: 1px solid purple;*/
  
}
.companies-us{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding: 16px;
 /* border: 1px solid green;*/

}

.companies-us img{
  width: 15%;
}
.companies-canada-section{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 24px;
  /*border: 1px solid purple;*/
  
}
.companies-canada{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding: 16px;
 /* border: 1px solid green;*/

}
#canada-header{
  color: #373c5f;
  font-weight: 500;
  padding: 5px;

}
.companies-canada img{
  width: 14%;
}
.company-overview-section{
  height: 41vh;
  width: 100%;
  /*background-color:#f5f5f5;*/
 /* background-color:  darkred;*/
  
}
.company-overview-header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3em;
  font-weight: 600;
  padding: 30px;
 
}
.company-overview-header h1{
  color: black;
  font-weight: 300;
}

.company-overview-section .webinar{
  display: flex;
  justify-content: center;
  width: 100%;

}
.company-overview-section .webinar p{
  text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 200;
    width: 50%;
    padding-bottom: 35px;

}
.video-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
.company-overview-section .video-container .tfa-presentation h4{
  text-align: center;
  color: black;
  font-weight: 600;
}
.company-overview-section .video-container .tfa-presentation h5{
  text-align: center;
  color: black;
}
.company-overview-section .video-container .tfa-webinar h4{
  text-align: center;
  color: black;
  font-weight: 600;
}
.company-overview-section .video-container .tfa-webinar h5{
  text-align: center;
  color: black;
  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: darkgrey;
}

.contact-form-section {
 height: 88vh;
 width: 100%;

}
.contact-us-header{
  text-align: center;
  font-size: 33px;
  padding: 10px;
  width: 50%;
}
.contact-form-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 79vh;
  padding: 46px;
}
.contact-form-section img{
  height: auto;
  width: 50%;
  border-radius: 5px;
}
.contact-form{
  width: 50%;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
.contact-form h1{
  font-size: 25px;
    font-weight: 600;
    padding-bottom: 15px;
}
.footer-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 47vh;
  color: whitesmoke;
  background-color: black;
}
.company-contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 31vh;
  border-right: .5px solid darkgrey;
  width: 50%;
}
.company-contact-info img{
  height: 13vh;
  margin-bottom: 2em;
}
.company-contact-info ul li{
  padding: 2px;
}
.company-contact-info ul a:link{
  color:  whitesmoke;
}
.company-contact-info ul a:visited{
  color:  whitesmoke;
}
.company-contact-info ul a:hover{
  color: gray;
}
.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
   align-items: center;
  width: 50%;
  padding: 20px;
}
.contact-info ul{
  padding: 10px;
}
.contact-info #name{
  font-size: 20px;
  font-weight: 600;
}
.contact-info #license{
  padding-bottom: 10px;
}
.contact-info ul li{
  padding: 2px;
}
.contact-info ul a:link{
  color: whitesmoke;
}
.contact-info ul a:visited{
  color: whitesmoke;
}
.contact-info ul a:hover{
  color: gray;
}
.social-links{
  display: flex;
   justify-content: center;
  width: 100%;
  font-size: 27px;
    height: 7vh;
    color: white;
    background-color: black;
    padding: 5px;
}
.social-links ul{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 12%;

}
.social-links ul li a:link{
  color: white;
}
.social-links ul li a:visited{
  color: white;
}
.social-links ul li a:hover{
  color: lightgrey;
}

/* common breakpoints

320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/


/* ///////////////////////Media Query//////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1201px) {
  .Home-Services-Container {
    height: 45vh
  }
  .Home-Services-Section{
    height: 55vh;
  }
 .grow-business-container p {
      padding-top: 30px;
 }
  .about-section{
    height: 35em;
  }
  .achievements-section{
    height: 35vh;
  }
  .money-management-container h1{
    width: 100%;
  }
  .company-overview-section{
    height: 70vh;
  }
  .companies-section{
    height: 85vh;
  }
  .video-container{
    width: 100%;
  }
}
/* desktops */
@media screen and (max-width: 1200px){
  .navbar-container{
    height: 4rem;
  }
  .Home-Services-Section{
    height: 24rem;
  }
  .Home-Services-Container{
    height: 23em;
  }
  
  .about-section{
    height: 37em;
  }
  .grow-business-section{
    height: 30rem; 
  }
  .grow-business-container{
    height: 13rem;
  }
  .achievements-section{
    height: 12rem;
  }
  .about-us-main-container{
    height: 31rem;
  }
  .money-management-section{
    height: 20rem;

  }
  .money-management-container{
    height: 15rem;
  }
  .money-management-container h1{
    width: 100%;
  }
  .about-section-header{
    height: 10rem;
  }
  .companies-section{
    height: 40rem;
  }
  .video-container{
    width: 100%;
  }
  .company-overview-section{
    height: 30rem;
  }
  .contact-form-section{
    height: 40rem;
  }
  .contact-form-container{
    height: 34rem;
  }
  .footer-container{
    height: 22rem;
  }
  .company-contact-info {
    height: 15rem;
  }
  .company-contact-info img{
    height: auto;
    width: 25%;
  }
  .social-links{
    height: 3rem;
  }
}
/* laptops */
@media screen and (max-width: 1024px){
  .Home-Services-Container{
    height: 23rem;
  }
  .grow-business-container{
    height: 12rem;
    width: 100%;
  }
  .about-us-main-container {
    height: 40rem;
  }
  .about-us-section{
    height: 20rem;
  }
  .about-us-section-container{
    height: 15rem;
  }
  .about-us-section .about-us-section-image-container {
    height: 4rem;
  }
  .about-us-picture-container img{
    width: 100%;
  }
  .about-section{
    height: 37em;
  }
  .money-management-container h1 {
    width: 100%;
}
.company-overview-section{
  height: 55vh;
}
.video-container {
  width: 100%;
}
.contact-form-container{
  height: 50vh;
}
}
/* tablets */
@media screen and (max-width: 768px){
  .contact-links{
    width: 90%;
  }
  .contact-links a{
    padding: 8px;
  }
  .navbar-container{
    padding-left: 25px;
    height: 4rem;
  }
  .greeting h1{
    font-size: 4em;
  }
  .Home-Services-Section{
    height: 50rem;
  }
  .Home-Services-Container{
    flex-direction: column;
    align-items: center;
    height: 49rem;
  }
  #Financial-Planning-Container{
    width: 50%;
  }
  #Financial-Planning-Container p{
    font-size: 11px;
}
#Investments-Management-Container {
  text-align: center;
  /* border: 1px solid orange; */
  width: 50%;
}
#Investments-Management-Container p{
  color: #999999;
  line-height: 1.2;
  font-size: 11px;
}
#Retirement-Plan-Container {
  text-align: center;
  /* border: 1px solid purple; */
  width: 50%;
}
#Retirement-Plan-Container p{
  font-size: 11px;

}
.grow-business-section{
  height: 75rem;
}
.grow-business-container{
  height: 15rem;
}
.grow-business-container h1 {
  font-size: 2em;
}
.grow-business-container p {
  font-size: .8em;
}
.achievements-section {
  flex-direction: column;
  height: 50rem;
}
.experience{
  max-width: 150px;
  height: 150px;
}
#experience-number{
  font-size: 2em;
}
.experience span h4{
  font-size:14px;
}
.award-winning {
  max-width: 150px;
  height: 150px;
}
.award-winning #experience-number {
  padding-left: 51px;
}
.award-winning span {
  font-size: 14px;
}
.happy-customers {
  max-width: 150px;
  height: 150px;
}
.happy-customers #experience-number{
  padding-left: 44px;
}
.happy-customers span {
  font-size: 14px;
}
.satisfied-customers{
  max-width: 150px;
  height: 150px;
}
.satisfied-customers #experience-number {
  padding-left: 19px;
}
.satisfied-customers span {
  font-size: 14px;
}
.about-us-main-container{
  height: 60rem;
}
.about-us-section{
  flex-direction: column;
  height: 45rem;
  width:100%;
}
.about-us-section-container{
  height: 20rem;
  width: 100%;
}
.about-us-section .about-us-section-image-container {
  height: auto;
  width: 75%;
}
.about-us-picture-container img {
  width: 100%;
  height: auto;
}
.about-us-section-container h3 {
  font-size: 37px;
}
.about-us-section-container p {
  font-size: .8em;
  padding: 40px;
}
.about-section{
  display: flex;
  flex-direction: column;
   align-items: center;
  height: 60rem;
  
}
.about-section .profile-picture {
  width: 100%;
  height: 45rem;
  text-align: center;
}

.about-me{
  height: 25rem;
  width: 100%;
}
.about-me p{
  font-size: 1em;
}
.money-management-section{
  height: 21rem;
}
.money-management-container{
  width: 100%;
  height: 13rem;
}
.money-management-container h1 {
  width: 100%;
  font-size: 3rem;
}
.companies-section{
  height: 70rem;
}
.companies-container {
  width: 80%;
}
.companies-us {
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 18rem;
}
.companies-us img{
  width: 30%;
  height: auto;
}
.companies-canada {
  flex-direction: column;
    align-items: center;
    width: 80%;
    height: 25rem;
}
.companies-canada img{
  width: 30%;
  height: auto;
}
.company-overview-section{
  height: 65rem;
}
.company-overview-header{
  text-align: center;
  padding: 2rem;
}
.company-overview-section .webinar p {
  width: 70%;
}
.video-container{
  width: 100%;
  height: 40rem;
  flex-direction: column;
  align-items: center;
}
.tfa-presentation iframe{
  width: 300;
}
.tfa-webinar iframe{
  width: 300;
}

.contact-form-section{
  height: 45rem;
}
.contact-form-container{
  height: 45rem;
  flex-direction: column;
  align-items: center;
}
.social-links ul {
  width: 40%;
}
}
@media screen and (max-width: 481px){
  .contact-links-section {
    display: none;
  }
  .navbar-container{
    padding-left: 17px;
    height: 4rem;
  }
  .navbar-links{
    width: 70%;
  }
  .top-section .greeting h2{
    font-size: 2em;
  }
  .top-section .greeting h1{
    font-size: 4.2em;
  }
  .top-section .greeting p{
    font-size: 1em;
    width: 80%;
  }
  #Financial-Planning-Container{
    width: 100%;
  }
  #Investments-Management-Container {
    width: 100%;
  }
  #Retirement-Plan-Container {
    width: 100%;
  }
.Home-Services-Section{
  height: 48rem;
}
.Home-Services-Section .Home-Services-Container{
  flex-direction: column;
  height: 47rem;
}

.grow-business-section {
  width: 100%;
}
.grow-business-section{
  height: 73rem;
}
.grow-business-section .grow-business-container{
  width: 100%;
  padding: 10px;
}
.grow-business-container p{
  line-height: 1.6;
}
.achievements-section{
  flex-direction: column;
  height: 52rem;
}
.about-us-main-container{
  height: 56rem;
}
.about-us-section{
  flex-direction: column;
  width: 100%;
  height: 57rem;
}
.about-us-section-container{
  width: 100%;
  height: 25rem;
}
.about-us-section .about-us-section-image-container {
  width: 75%;
  height: 15rem;
}
.about-us-picture-container{
  width: 100%;
}
.about-us-picture-container img {
  width: 100%;
  height: auto;
}
.about-section{
  flex-direction: column;
  height: 75rem;
}
.about-section-header{
  height: 11rem;
}
.about-section .profile-picture {
  height: 45rem;
}
.about-section .profile-picture img {
  width: 100%;
  height: auto;

}

.about-me{
  width: 100%;
  height: 45rem;
}
.money-management-section{
  height: 23rem;
}
.money-management-container{
  width: 100%;
  height: 15rem;
}
.money-management-container h1{
  width: 100%;
  font-size: 2.5rem;
}
.companies-section{
  height: 80rem;
}
.companies-container {
  width: 100%;
  height: 25rem;
}
.companies-container h1{
  padding-top: 2.3rem;
  padding-bottom: 1.3rem;
}
.companies-us-section{
  height: 25rem;
}
.companies-us{
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 23rem;
}
.companies-us img{
  width: 50%;
}
.companies-canada-section{
  height: 23rem;
}
.companies-canada{
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 23rem;
}
.companies-canada img{
  width: 50%;
}
.company-overview-section{
  height: 60rem;
}
.company-overview-section .webinar p{
  width: 90%;
  text-align: start;
}
.video-container{
  flex-direction: column;
  width: 100%;
  height: 40rem;
}
.video-container .tfa-presentation iframe{
  width: 100%;
}
.video-container .tfa-webinar iframe{
  width: 100%;
}
.contact-form-container {
  flex-direction: column;
}
.contact-form-section img {
  width: 100%;
}
.contact-form{
  width: 100%;
}
.contact-form-section{
  height: 97vh;
}
.footer-container{
  height: 35rem;
  flex-direction: column;
  align-items: start;
}
.company-contact-info{
  align-items: start;
  width: 100%;
  height: 16rem;
  padding-left: 10px;
  border-right: 0;
  border-bottom: .5px solid;
}
.contact-info{
  align-items: start;
  width: 100%;
  height: 16rem;
  padding: 0px;
}
.contact-info h4{
  padding-left: 13px;
}
.social-links{
  justify-content: start;
}
.social-links ul{
  width: 35%;
}

}
@media screen and (max-width: 320px){
  .navbar-container {
    padding-left: 0px;
    height: 4rem;
}
.top-section .greeting{
  height: 28rem;
}
.top-section .greeting h2{
  font-size: 1.5em;
}
.top-section .greeting h1 {
  font-size: 3em;
}
.top-section .greeting a{
  width: 10rem;
}
.Home-Services-Section{
  height: 50rem;
}
  .grow-business-container h1{
    font-size: 2rem;
  }
  .about-us-main-container {
    height: 54rem;
}
.about-us-section {
  height: 50rem;
}
.about-us-section-container {
  height: 30rem;
}
.about-us-section-container h3 {
  font-size: 2rem;
}
.about-us-section .about-us-section-image-container {
  width: 100%;
  height: 13rem;
}
  .about-section .profile-picture {
    height: 35rem;
}
.about-section-header {
  height: 12rem;
}
.about-section-header h2{
  font-size: 2rem;
}

.about-section {
    height: 64rem;
   /* border: 1px solid red;*/
}
.about-section .profile-picture {
  height: 33rem;
}
.about-me {
  height: 45rem;
  /*border: 1px solid purple;*/

}
.about-me p{
  font-size: .8rem
}
.money-management-container h1 {
  width: 100%;
  font-size: 2em;
}
.money-management-container h3{
  font-size: 1rem;
}
.companies-section{
  height: 73rem;
}
.companies-container{
  height: 18rem;
}
.companies-container h1{
  font-size: 2rem;
}
.companies-container p{
  font-size: .8rem;
}
.company-overview-section {
  height: 60rem;
}
.company-overview-header h1{
  font-size: 2.5rem;
}
.video-container .tfa-presentation iframe{
  width: 100%;
}
.video-container .tfa-webinar iframe{
  width: 100%;
}
.contact-info {
  padding: 0px;
}
.social-links ul {
  width: 40%;
}
}