*{
    box-sizing: border-box;
  }
  html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  
  }
  a{
    text-decoration: none;
  }
  .contact-links-section{
    /*background-color: #b49132;*/
    background-color: darkred;
  }
  .contact-links{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
  }
  .contact-links a{
    color: white;
    font-size: 14px;
    padding: 17px;
  }
  .contact-links a i{
    padding-right: 5px;
  }
  .navbar-container{
    display: flex;
    justify-content: space-between;
    background-color:black;
    height: 100px;
    padding: 10px;
    padding-left: 10px;
    width: 100%;
    height: 12vh;
  }
  
  
  .navbar-container a{
    color: whitesmoke;
  }
  .wfg-logo{
    display: flex;
    align-items: center;
    width: 25%;
    /*border: 1px solid red;*/
  }
  .wfg-logo img{
    width: 55px;
    height: auto;
  }
  .navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    /*border: 1px solid blue;*/
  }
  .top-section{
    position: relative; 
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-section::before {    
      content: "";
      background-image: url("../images/coffee.jpg");
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.65;
}

.top-section h1 {
  position: relative;
  color: black;  
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
  font-weight: 550;
    width: 80%;
}
.top-section p{ 
  position: relative;
  color: black;  
  font-size: 22px;
  line-height: 0.9;
  text-align: center;
  padding-top: 34px;
    max-width: 800px;


}
/*
  .top-section{
    background-image: url("../images/papersigning.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:lightgoldenrodyellow;
    height: 27em;
    width: 100%;
  }
  /*
  .greeting{
    height: 472px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    text-align: center;
    
  }
  .greeting h2{
    font-size: 47px;
    font-weight: 400;
    letter-spacing: 0.50px;
    padding: 10px;
    
  }
  .greeting h1{
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 75%;
    
  }
  .greeting p{
    font-size: 20px;
    font-weight: 500;
    padding: 16px;
    width: 50%;
  }
  .greeting a{
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: darkred;
    padding: 17px;
    margin-top: 20px;
    width: 188px;
  }
  */
  
  .services-greeting{
  display: flex;
   justify-content: center;
   width: 100%;
   height: 31vh;
    line-height: 1.6;
    /*border: 1px solid red;*/
}
  .services-greeting-container{
    text-align: center;
    width: 50%;
  }
  .services-greeting-container h1{
    font-size: 42px;
    font-weight: 600;
    padding-top: 33px;
  }
  .services-greeting-container h1 span{
    color: darkred;
  }
  .financial-strategies-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 54vh;
    /*border: 1px solid blue;*/;
  }
  .financial-strategies-info{
    width: 50%;
    /*
    padding-top: 75px;
    padding-left: 20px;
    */
    background-color: #f5f5f5;
    padding: 5rem;
  }
  .financial-strategies-info h1{
    font-size: 30px;
    font-weight: 300;
    width: 400px;
    padding: 10px;
    padding-bottom: 20px;
  }
  .financial-strategies-info p{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
  }
  .financial-strategies-info ul{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
    padding-left: 29px;
  }
  .financial-strategies-info li{
    list-style: square;
    padding-bottom: 5px;
  }
  .financial-cover-photo{ 
    width: 50%;
  }
  .financial-cover-photo img{
    /*
    width: 100%;
    height: 23.25rem;
    */
    max-width: 100%;
    height: auto;
  }


  .insurance-protection-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 54vh;
    /*border: 1px solid blue;*/;
  }
  .insurance-protection-info{
    order: 2;
    width: 50%;
    /*
    padding-top: 75px;
    padding-left: 20px;
    */
    background-color: cornflowerblue;
    color: white;
    padding: 5rem
  }
  .insurance-protection-info h1{
    font-size: 30px;
    font-weight: 300;
    width: 400px;
    padding: 10px;
    padding-bottom: 20px;
  }
  .insurance-protection-info p{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
  }
  .insurance-protection-info ul{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
    padding-left: 29px;
  }
  .insurance-protection-info li{
    list-style: square;
    padding-bottom: 5px;
  }
  .insurance-cover-photo{ 
    order: 1;
    width: 50%;
  }
  .insurance-cover-photo img{
   /* width: 100%;
    height: 23.25rem;
    */
    max-width: 100%;
    height: auto;
  }


  .retirement-strategies-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 54vh;
    /*border: 1px solid blue;*/;
  }
  .retirement-strategies-info{
    order: 1;
    width: 50%;
    /*
    padding-top: 75px;
    padding-left: 20px;
    */
    color: white;
    background-color: lightslategray;
    padding: 5rem;
  }
  .retirement-strategies-info h1{
    font-size: 30px;
    font-weight: 300;
    width: 400px;
    padding: 10px;
    padding-bottom: 20px;
  }
  .retirement-strategies-info p{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
  }
  .retirement-strategies-info ul{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
    padding-left: 29px;
  }
  .retirement-strategies-info li{
    list-style: square;
    padding-bottom: 5px;
  }
  .retirement-cover-photo{ 
    order: 2;
    width: 50%;
  }
  .retirement-cover-photo img{
    /*
    width: 100%;
    height: 23.25rem;
    */
    max-width: 100%;
    height: auto;
  }



  .college-funding-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 54vh;
    /*border: 1px solid blue;*/;
  }
  .college-funding-info{
    order: 2;
    width: 50%;
    /*
    padding-top: 75px;
    padding-left: 20px;
    */
    background-color: #f5f5f5;
    padding: 5rem;
  }
  .college-funding-info h1{
    font-size: 30px;
    font-weight: 300;
    width: 400px;
    padding: 10px;
    padding-bottom: 20px;
  }
  .college-funding-info p{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
  }
  .college-funding-info ul{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
    padding-left: 29px;
  }
  .college-funding-info li{
    list-style: square;
    padding-bottom: 5px;
  }
  .college-cover-photo{ 
    order: 1;
    width: 50%;
  }
  .college-cover-photo img{
    /*
    width: 100%;
    height: 23.25rem;
    */
    max-width: 100%;
    height: auto;
  }



  .business-strategies-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 54vh;
    /*border: 1px solid blue;*/;
  }
  .business-strategies-info{
    order: 1;
    width: 50%;
    /*
    padding-top: 75px;
    padding-left: 20px;
    */
    background-color: cornflowerblue;
    color: white;
    padding: 5rem;
  }
  .business-strategies-info h1{
    font-size: 30px;
    font-weight: 300;
    width: 400px;
    padding: 10px;
    padding-bottom: 20px;
  }
  .business-strategies-info p{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
  }
  .business-strategies-info ul{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
    padding-left: 29px;
  }
  .business-strategies-info li{
    list-style: square;
    padding-bottom: 5px;
  }
  .business-cover-photo{ 
    order: 2;
    width: 50%;
  }
  .business-cover-photo img{
    /*
    width: 100%;
    height: 23.25rem;
    */
    max-width: 100%;
    height: auto;
  }
 


  .estate-preservation-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 54vh;
    /*border: 1px solid blue;*/;
  }
  .estate-preservation-info{
    order: 2;
    width: 50%;
    /*
    padding-top: 75px;
    padding-left: 20px;
    */
    color: white;
    background-color: lightslategray;
    padding: 5rem;
  }
  .estate-preservation-info h1{
    font-size: 30px;
    font-weight: 300;
    width: 400px;
    padding: 10px;
    padding-bottom: 20px;
  }
  .estate-preservation-info p{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
  }
  .estate-preservation-info ul{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
    padding-left: 29px;
  }
  .estate-preservation-info li{
    list-style: square;
    padding-bottom: 5px;
  }
  .estate-cover-photo{ 
    order: 1;
    width: 50%;
  }
  .estate-cover-photo img{
    /*
    width: 100%;
    height: 23.25rem;
    */
    max-width: 100%;
    height: auto;
  }
  .companies-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85vh;
    /*border: 1px solid red;*/
    background-color: #f5f5f5
  }
  .companies-container{
    text-align: center;
    /*border: 1px solid blue;*/
    width: 50%;
  
  }
  .companies-container h1{
    font-size: 2.5em;
    font-weight: 400;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color:  black;
  }
  .companies-container h1 span{
    color: darkred;
  }
  .companies-container p{
    padding: 10px;
    line-height: 1.6;
    color: black;
  }
  .companies-container h3{
    color: #373c5f;
    font-weight: 600;
    padding: 5px;
  }
  .companies-us-section{
    display: flex;
    justify-content: center;
    width: 100%;
   /* border: 1px solid purple;*/
    
  }
  .companies-us{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 16px;
   /* border: 1px solid green;*/
  
  }
  
  .companies-us img{
    width: 15%;
  }
  .companies-canada-section{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 24px;
    /*border: 1px solid purple;*/
    
  }
  .companies-canada{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 16px;
   /* border: 1px solid green;*/
  
  }
  #canada-header{
    color: #373c5f;
    font-weight: 600;
    padding: 5px;
  
  }
  .companies-canada img{
    width: 14%;
  }
  .company-overview-section{
    height: 41vh;
    width: 100%;
    /*background-color:#f5f5f5;*/
    background-color:  darkred;
    
  }
  .company-overview-header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    color: whitesmoke;
    padding: 30px;
   
  }
  .help-section{
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: crimson;
    padding: 10px;
    
  }
  .help-container{
    color: white;
    width: 60%;
    padding-top: 50px;
    text-align: center;
    height: 35vh;
   
}
.help-container h1{
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 20px;
}
.help-container p{
  padding-bottom: 37px;
}
.help-container a{
    padding: 11px;
    border-radius: 20px;
    background-color: white;
    color: darkred;
   
}
  .footer-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 47vh;
    color: whitesmoke;
    background-color: black;
  }
  .company-contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 31vh;
    border-right: .5px solid darkgrey;
    width: 50%;
  }
  .company-contact-info img{
    height: 13vh;
    margin-bottom: 2em;
  }
  .company-contact-info ul li{
    padding: 2px;
  }
  .company-contact-info ul a:link{
    color:  whitesmoke;
  }
  .company-contact-info ul a:visited{
    color:  whitesmoke;
  }
  .company-contact-info ul a:hover{
    color: gray;
  }
  .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     align-items: center;
    width: 50%;
    padding: 20px;
  }
  .contact-info ul{
    padding: 10px;
  }
  .contact-info #name{
    font-size: 20px;
    font-weight: 600;
  }
  .contact-info #license{
    padding-bottom: 10px;
  }
  .contact-info ul li{
    padding: 2px;
  }
  .contact-info ul a:link{
    color: whitesmoke;
  }
  .contact-info ul a:visited{
    color: whitesmoke;
  }
  .contact-info ul a:hover{
    color: gray;
  }
  .social-links{
    display: flex;
     justify-content: center;
    width: 100%;
    font-size: 27px;
      height: 7vh;
      color: white;
      background-color: black;
      padding: 5px;
  }
  .social-links ul{
    display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 12%;
  
  }
  .social-links ul li a:link{
    color: white;
  }
  .social-links ul li a:visited{
    color: white;
  }
  .social-links ul li a:hover{
    color: lightgrey;
  }
 


/*//////////////////////////////////////Media Queries/////////////////////////////////////*/
/*large desktops*/
@media screen and (min-width: 1201px){
  .contact-links{
    justify-content: start;
  }
  .navbar-container{
    height: 4rem;
  }
  .top-section{
    height: 35rem;
  }
  .top-section h1{
    width: 60%;
  }
  .services-greeting{
    height: 15rem;
  }
  .financial-strategies-section{
    height: 26rem;
  }
  .financial-strategies-info{
    height: 26rem;
  }
  .financial-cover-photo{
    height: 26rem;
  }
  .financial-cover-photo img{
    width: 100%;
    height: 26rem;
    max-width: 60rem;
    object-fit: cover;
  }
  .insurance-protection-section{
    height: 26rem;
  }
  .insurance-protection-info{
    height: 26rem;
  }
  .insurance-cover-photo{
    height: 26rem;
  }
  .insurance-cover-photo img{
    width: 100%;
    height: 26rem;
    max-width: 60rem;
    object-fit: cover;
  }
  .retirement-strategies-section{
    height: 26rem;
  }
  .retirement-strategies-info{
    height: 26rem;
  }
  .retirement-cover-photo{
    height: 26rem;
  }
  .retirement-cover-photo img{
    width: 100%;
    height: 26rem;
    max-width: 60rem;
    object-fit: cover;
  }
  .college-funding-section{
    height: 26rem;
  }
  .college-funding-info{
    height: 26rem;
  }
  .college-cover-photo{
    height: 26rem;
  }
  .college-cover-photo img{
    width: 100%;
    height: 26rem;
    max-width: 60rem;
    object-fit: cover;
  }
  .business-strategies-section{
    height: 26rem;
  }
  .business-strategies-info{
    height: 26rem;
  }
  .business-cover-photo{
    height: 26rem;
  }
  .business-cover-photo img{
    width: 100%;
    height: 26rem;
    max-width: 60rem;
    object-fit: cover;
  }
  .estate-preservation-section{
    height: 26rem;
  }
  .estate-preservation-info{
    height: 26rem;
  }
  .estate-cover-photo{
    height: 26rem;
  }
  .estate-cover-photo img{
    width: 100%;
    height: 26rem;
    max-width: 60rem;
    object-fit: cover;
  }
  .companies-section{
    height: 40rem;
  }
  .help-section{
    height: 22rem;
  }
  .help-container{
    height: 20rem;
    padding-top: 72px;
  }
  .footer-container{
    height: 30rem;
  }
  .social-links{
    font-size: 2rem;
    height: 4rem;
    
  }
}
/*small desktops*/
@media screen and (max-width: 1200px){
  .navbar-container{
    height: 4rem;
  }
.top-section{
  height: 30rem;
}
.top-section h1{
  width: 65%;
  font-size: 2.5rem;
}
.top-section p{
  width: 50%;
  font-size: 1.4rem;
}
.services-greeting{
  height: 13rem;
}
.financial-strategies-section{
  height: 20rem;
}
.financial-strategies-info{
  padding: 3rem;
}
.financial-cover-photo img{
  max-width: 38rem;
  width: 100%;
    height: 20rem;
    object-fit: cover;
}
.insurance-protection-section{
  height: 20rem;
}
.insurance-protection-info{
  padding: 2rem;
}
.insurance-cover-photo img{
  max-width: 38rem;
  width: 100%;
    height: 20rem;
    object-fit: cover;
}
.retirement-strategies-section{
  height: 20rem;

}
.retirement-strategies-info{
  padding: 3rem;
}
.retirement-cover-photo img{
  max-width: 38rem;
  width: 100%;
    height: 20rem;
    object-fit: cover;
}
.college-funding-section{
  height: 20rem;
}
.college-funding-info{
  padding: 3rem;
}
.college-cover-photo img{
  max-width: 38rem;
  width: 100%;
    height: 20rem;
    object-fit: cover;
}
.business-strategies-section{
  height: 20rem;
}
.business-strategies-info{
  padding: 3rem;
}
.business-cover-photo img{
  max-width: 38rem;
  width: 100%;
    height: 20rem;
    object-fit: cover;
}
.estate-preservation-section{
  height: 20rem;
}
.estate-preservation-info{
  padding: 1.5rem;
}
.estate-cover-photo img{
  max-width: 38rem;
  width: 100%;
    height: 20rem;
    object-fit: cover;
}
.companies-section{
  height: 36rem;
}
.help-section{
  height: 20rem;
}
.footer-container{
  height: 20rem;
}
.social-links{
  height: 3rem;
}
}
/*laptops*/
@media screen and (max-width: 1024px){
  .navbar-container{
    height: 3.6rem;
  }
  .top-section{
    height: 26rem;
  }
  .services-greeting-container{
    width: 61%;
  }
  .financial-strategies-section{
    height: 22rem;
  }
  .financial-strategies-info{
    padding: 2rem;
  }
  .financial-cover-photo img{
    height: 22rem;
  }
  .insurance-protection-section{
    height: 22rem;
  }
  .insurance-protection-info{
    padding: 1.3rem;
  }
  .insurance-protection-info h1{
    width: 90%;
  }
  .insurance-cover-photo img{
     height: 22rem;
  }
  .retirement-strategies-section{
    height: 22rem;
  }
  .retirement-strategies-info{
    padding: 2rem;
  }
  .retirement-cover-photo img{
    height: 22rem;
  }
  .college-funding-section{
    height: 22rem;
  }
  .college-funding-info{
    padding: 3rem;
  }
  .college-cover-photo img{
    height: 22rem;
  }
  .college-funding-info h1{
    width: 100%;
  }
  .business-strategies-section{
    height: 22rem;
  }
  .business-strategies-info{
    padding: 1.3rem;
  }
  .business-cover-photo img{
    height: 22rem;
  }
  .estate-preservation-section{
    height: 22rem;
  }
  .estate-preservation-info{
    padding: 1.0rem;
  }
  .estate-preservation-info h1{
    width: 90%;
  }
  .estate-cover-photo img{
    height: 22rem;
  }
  .companies-section{
    height: 36rem;
  }
  .companies-container{
    width: 75%;
  }
  .companies-us{
    width: 70%;
  }
  .companies-canada{
    width: 70%;
  }
  .help-section{
    height: 18rem;
  }
  .help-container{
    height: 14rem;
    padding-top: 35px;
    
  }
  .company-contact-info img{
    height: 5rem;
  }
  .social-links ul{
    width: 20%;
  }
}
/*tablets*/
@media screen and (max-width: 768px){
  .contact-links-section{
    display: none;
  }
  .top-section{
    height: 19rem;
  }
  .top-section h1{
    width: 90%;
    font-size: 1.8rem;
  }
  .top-section p{
    width: 70%;
    font-size: 1rem;
  }
  .services-greeting {
    height: 11rem;
  }
  .services-greeting h1{
    font-size: 2rem;
  }
  .services-greeting-container{
    width: 90%;
  }
  .services-greeting-container p{
    font-size: .9rem;
  }
  .financial-strategies-section{
    flex-direction: column;
    height: 38rem;
  }
  .financial-strategies-info{
    width: 100%;
  }
  .financial-strategies-info h1{
    font-size: 1.6rem;
  }
  .financial-strategies-info p{
    font-size: 1rem;
  }
  .financial-strategies-info ul{
    font-size: 1rem;
  }
  .financial-cover-photo{
    width: 100%;
  }
  .financial-cover-photo img{
    height: 22rem;
    max-width: 47rem;
  }
  .insurance-protection-section{
    flex-direction: column;
    height: 38rem;
  }
  .insurance-protection-info{
    width: 100%;
    order: 1;
  }
  .insurance-protection-info h1{
    font-size: 1.6rem;
  }
  .insurance-protection-info p{
    font-size: 1rem;
  }
  .insurance-protection-info ul{
    font-size: 1rem;
  }
  .insurance-cover-photo{
    width: 100%;
    order: 2;
  }
  .insurance-cover-photo img{
    height: 22rem;
    max-width: 47rem;
  }
  .retirement-strategies-section{
    flex-direction: column;
    height: 38rem;
  }
  .retirement-strategies-info{
    width: 100%;
  }
  .retirement-strategies-info h1{
    font-size: 1.6rem;
  }
  .retirement-strategies-info p{
    font-size: 1rem;
  }
  .retirement-strategies-info ul{
    font-size: 1rem;
  }
  .retirement-cover-photo{
    width: 100%;
  }
  .retirement-cover-photo img{
    height: 22rem;
    max-width: 47rem;
  }
  .college-funding-section{
    flex-direction: column;
    height: 35rem;
  }
  .college-funding-info{
    width: 100%;
    order: 1;
    padding: 2rem;
  }
  .college-funding-info h1{
    font-size: 1.6rem;
  }
  .college-funding-info p{
    font-size: 1rem;
  }
  .college-funding-info ul{
    font-size: 1rem;
  }
  .college-cover-photo{
    width: 100%;
    order: 2;
  }
  .college-cover-photo img{
    height: 22rem;
    max-width: 47rem;
  }
  .business-strategies-section{
    flex-direction: column;
    height: 38rem;
  }
  .business-strategies-info{
    width: 100%;
  }
  .business-strategies-info h1{
    font-size: 1.6rem;
  }
  .business-strategies-info p{
    font-size: 1rem;
  }
  .business-strategies-info ul{
    font-size: 1rem;
  }
  .business-cover-photo{
    width: 100%;
  }
  .business-cover-photo img{
    height: 22rem;
    max-width: 47rem;
  }
  .estate-preservation-section{
    flex-direction: column;
    height: 38rem;
  }
  .estate-preservation-info{
    width: 100%;
    order: 1;
  }
  .estate-preservation-info h1{
    font-size: 1.6rem;
  }
  .estate-preservation-info p{
    font-size: 1rem;
  }
  .estate-preservation-info ul{
    font-size: 1rem;
  }
  .estate-cover-photo{
    width: 100%;
    order: 2;
  }
  .estate-cover-photo img{
    height: 22rem;
    max-width: 47rem;
  }
  .companies-section{
    height: 37rem;
  }
  .help-container{
    width: 90%;
  }
  .companies-us{
    width: 100%;
  }
  .companies-canada{
    width: 100%;
  }
  .footer-container{
    height: 24rem;
  }
  .company-contact-info img{
    height: 5rem;
  }
  .social-links{
    height: 2.5rem;
  }
  .social-links ul{
    width: 30%;
  }
}
/*large mobile screem*/
@media screen and (max-width: 481px){
  .navbar-container{
    height: 3rem;
  }
  .wfg-logo img{
    width: 3rem;
  }
  .navbar-links{
    width: 100%;
  }
  .top-section {
    height: 26rem;
  }
  .top-section h1{
    font-size: 1.9rem;
  }
  .top-section p{
    font-size: 1rem;
    padding-top: 0.6rem;
  }
  .services-greeting{
    height: 15rem;
  }
  .services-greeting h1{
    font-size: 2rem;
  }
  .services-greeting-container{
    width: 90%;
  }
  .services-greeting-container p{
    font-size: 1rem;
  }
  .financial-strategies-section{
    height: 35rem;
  }
  .financial-strategies-info{
    padding: 1rem;
  }
  .financial-strategies-info h1{
    font-size: 1.6rem;
    width: 90%;
  }
  .financial-strategies-info p{
    font-size: 1rem;
  }
  .financial-strategies-info ul {
    font-size: 1rem;
  }
  .financial-cover-photo img{
   height: 20rem;
   max-width: 30rem;
  }
  .insurance-protection-section{
    height: 35rem;
  }
  .insurance-protection-info{
    padding: 1rem;
  }
  .insurance-protection-info h1{
    font-size: 1.6rem;
  }
  .insurance-protection-info p{
    font-size: 1rem;
  }
  .insurance-protection-info ul{
    font-size: 1rem;
  }
  .insurance-cover-photo img{
    height: 18rem;
   max-width: 32rem;
  }
  .retirement-strategies-section{
    height: 33rem;
  }
  .retirement-strategies-info{
    padding: 1rem;
  }
  .retirement-strategies-info h1{
    font-size: 1.6rem;
    width: 100%;
  }
  .retirement-strategies-info p{
    font-size: 1rem;
  }
  .retirement-strategies-info ul{
    font-size: 1rem;
  }
  .retirement-cover-photo img{
    height: 18rem;
    max-width: 32rem;
  }
  .college-funding-section{
    height: 27rem;
  }
  .college-funding-info{
    padding: 1rem;
  }
  .college-funding-info h1{
    font-size: 1.6rem;
  }
  .college-funding-info p{
    font-size: 1rem;
  }
  .college-funding-info ul{
    font-size: 1rem;
  }
  .college-cover-photo img{
    height: 18rem;
    max-width: 32rem;
  }
  .business-strategies-section{
    height: 34rem;
  }
  .business-strategies-info{
    padding: 1rem;
  }
  .business-strategies-info h1{
    font-size: 1.6rem;
    width: 100%;
  }
  .business-strategies-info p{
    font-size: 1rem;
  }
  .business-strategies-info ul{
    font-size: 1rem;
  }
  .business-cover-photo img{
    height: 18rem;
    max-width: 32rem;
  }
  .estate-preservation-section{
    height: 37rem;
  }
  .estate-preservation-info{
    padding: 1rem;
  }
  .estate-preservation-info h1{
    font-size: 1.6rem;
  }
  .estate-preservation-info p{
    font-size: 1rem;
  }
  .estate-preservation-info ul{
    font-size: 1rem;
  }
  .estate-cover-photo img{
    height: 18rem;
    max-width: 32rem;
  }
  .companies-section{
    height: 75rem;
  }
  .companies-container {
    width: 100%;
    height: 20rem;
  }
  .companies-container h1{
    padding-top: 2.3rem;
    padding-bottom: 1.3rem;
    font-size: 2.1rem;
  }
  .companies-container p{
    font-size: .9rem;
  }
  .companies-us-section{
    height: 25rem;
  }
  .companies-us{
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 23rem;
  }
  .companies-us img{
    width: 50%;
  }
  .companies-canada-section{
    height: 23rem;
  }
  .companies-canada{
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 23rem;
  }
  .companies-canada img{
    width: 50%;
  }
  .help-section{
    height: 18rem;
  }
  .help-container{
    width: 100%;
  }
  .help-container h1{
    font-size: 2.8rem;
  }
  .help-container p{
    font-size: 1rem;
  }
  .connect-button{
    font-size: 1rem;
  }
  .footer-container{
    height: 35rem;
    flex-direction: column;
    align-items: start;
  }
  .company-contact-info{
    align-items: start;
    width: 100%;
    height: 16rem;
    padding-left: 10px;
    border-right: 0;
    border-bottom: .5px solid;
  }
  .contact-info{
    align-items: start;
    width: 100%;
    height: 16rem;
    padding: 0px;
  }
  .contact-info h4{
    padding-left: 13px;
  }
  .social-links{
    justify-content: start;
  }
  .social-links ul{
    width: 35%;
  }
  
}
@media screen and (max-width: 320px){
  .top-section h1{
    font-size: 1.8rem;
  }
  .top-section p{
    font-size: .9rem;
  }
  .services-greeting{
    height: 12rem;
  }
  .services-greeting-container h1{
    font-size: 1.7rem;
  }
  .services-greeting-container p{
    font-size: .7rem;
  }
  .financial-strategies-info h1{
    font-size: 1.4rem;
  }
  .financial-strategies-info p{
    font-size: .8rem;
  }
  .financial-strategies-info ul{
    font-size: .8rem;
  }
  .insurance-protection-info h1{
    font-size: 1.4rem;
  }
  .insurance-protection-info p{
    font-size: .8rem;
  }
  .insurance-protection-info ul{
    font-size: .8rem;
  }
  .retirement-strategies-info h1{
    font-size: 1.4rem;
  }
  .retirement-strategies-info p{
    font-size: .8rem;
  }
  .retirement-strategies-info ul{
    font-size: .8rem;
  }
  .college-funding-section{
    height: 24rem;
  }
  .college-funding-info h1{
    font-size: 1.4rem;
  }
  .college-funding-section p{
    font-size: .8rem;
  }
  .college-funding-section ul{
    font-size: .8rem;
  }
  .business-strategies-section{
    height: 33rem;
  }
  .business-strategies-info h1{
    font-size: 1.4rem;
  }
  .business-strategies-info p{
    font-size: .8rem;
  }
  .business-strategies-info ul{
    font-size: .8rem;
  }
  .estate-preservation-section{
    height: 34rem;
  }
  .estate-preservation-info h1{
    font-size: 1.4rem;
  }
  .estate-preservation-info p{
    font-size: .8rem;
  }
  .estate-preservation-info ul{
    font-size: .8rem;
  }
  .companies-section{
    height: 68rem;
  }
  .companies-container {
    height: 15rem;
  }
  .companies-container h1{
    font-size: 1.8rem;
  }
  .companies-container p{
    font-size: .7rem;
  }
  .help-section{
    height: 14rem;
  }
  .help-container{
    width: 100%;
  }
  .help-container h1{
    font-size: 1.6rem;
  }
  .help-container p{
    font-size: .7rem;
  }
  .connect-button{
    font-size: .7rem;
  }
  .company-contact-info ul{
    font-size: .8rem;
  }
  .contact-info h4{
    font-size: .9rem;
  }
  .contact-info ul{
    font-size: .8rem;
  }
  .social-links ul{
    width: 40%;
  }
}

